openai
azure-ai-generative[index,evaluate,promptflow]
azure-identity

# langchain dependencies, these should be optional in the future
# langchain moved Embeddings from langchain.embeddings.base to langchain.schema.embeddings while azureml-rag is still referencing it.
# once azureml-rag fixes, we should remove the langchain reference from this file
semantic-kernel