{% extends "base.html" %}
{% block content %}
    <div class="flex justify-center bg-sky-50">
        <div id="chatboxarea" class="flex flex-col justify-center w-full bg-white rounded-xl shadow-2xl m-24" style="height: 600px;">

            <div id="messages" class="flex flex-col overflow-auto" style="height: 90%;"> 
                
            </div>

            <form id="chatForm" class="flex flex-row justify-center">
                <input name="usermessage" type="text" class="mx-10 my-4 bg-gray-200 rounded-lg p-1" style="width: 1200px;" placeholder="Please enter a message to be sent to a GPT Agent">
                <button id="submitbutton" type="submit"  class="bg-gray-200 w-32 h-10 mx-32 my-3 rounded-lg">Send Message</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('chatForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const url = '/chat';
            const userMessage = document.getElementsByName('usermessage')[0].value;

            const data = {
                message : userMessage
            };

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);

                addMessages(userMessage, data.response);
            })

        });
    
        function addMessages(userMessage, response) {
            console.log(userMessage)
            console.log(response)
            var cleanedResponse = response.replace(/^AI:\s*,/, "").trim();

            var messagesContainer = document.getElementById('messages');

            var leftMessageBox = document.createElement('div');
            leftMessageBox.className = 'bg-blue-100 rounded-lg p-2 m-2 w-1/3 self-end';
            leftMessageBox.innerHTML = `<p>${userMessage}</p>`; 

            var rightMessageBox = document.createElement('div');
            rightMessageBox.className = 'bg-green-100 rounded-lg p-2 m-2 w-1/3 self-start';
            rightMessageBox.innerHTML = `<p>${cleanedResponse}</p>`; 

            var leftMessageRow = document.createElement('div');
            var rightMessageRow = document.createElement('div');

            leftMessageRow.className = 'flex w-full justify-end my-1';
            rightMessageRow.className = 'flex w-full justify-start my-1';

            rightMessageRow.appendChild(rightMessageBox);
            leftMessageRow.appendChild(leftMessageBox);

            messagesContainer.appendChild(leftMessageRow);
            messagesContainer.appendChild(rightMessageRow);

            messagesContainer.scrollTop = messagesContainer.scrollHeight;
    }
    </script>
{% endblock content %}